/* Custom color variables */
:root {
    --gold-custom: #B7A57A;
    --lightpurple-custom: #EDE4FF;
    --purple-custom: #4B2E83;
}

/* Custom font face declaration for Uni Sans Book */
@font-face {
    font-family: 'Uni Sans Book';
    src: url('/resources/UniSansBook.eot');
    src: url('/resources/UniSansBook.eot?#iefix') format('embedded-opentype'),
        url('/resources/UniSansBook.woff2') format('woff2'),
        url('/resources/UniSansBook.woff') format('woff'),
        url('/resources/UniSansBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 
    Specify the minimum width that the page will be responive to
    (i.e. elements will stop adjusting size/position when viewport reaches this value)
*/
html {
    min-width: 340px;
}

body {
    background-color: var(--lightpurple-custom);
    font-family: 'Encode Sans Condensed', sans-serif;
}

main {
    margin-top: 25px;
    margin-bottom: 150px;
    color: var(--purple-custom);
}

h1 {
    margin-bottom: 0;
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
} 

p {
    line-height: 150%;
    font-size: 16pt;
    font-family: 'Uni Sans Book', sans-serif;
}

/* Size and coloring for hr elements */
hr {
    border:solid;
    border-color: var(--purple-custom);
    border-width: 2px;
    border-radius: 20px;
    margin-top: 2px;
    color: var(--purple-custom);
    background-color: var(--purple-custom);
}

/* Margin for images */
img {
    margin: 5px 5px;
}

.separator {
    border-width: 1px;
    border-radius: 1px;
    margin-top: 16px;
    border-color: #6942b6c5;
    color: #6942b6c5;
    background-color: #6942b6c5;
}

.navbar {
    color: var(--lightpurple-custom);
    background-color: var(--purple-custom);
    border-bottom: solid;
    border-width: 3px;
    border-color: var(--gold-custom);
}

/* Increase the height of the nav bar */
.navbar-brand {
    margin-right: 10px;
    height: 100px;
}

.navbar-toggler {
    background-color: var(--gold-custom);
    margin-right: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(75, 46, 131, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>")!important;
}

/* Adds margin b/w main page content and page header */
.content {
    margin-top: 5px;
}

/* Style for nav buttons */
.nav-item .btn-lg {
    color: var(--lightpurple-custom);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-left: 11px!important;
    padding-right: 11px!important;
}

/* Invert button colors on hover */
.nav-item .btn-lg:hover {
    background-color: var(--lightpurple-custom) !important;
    color: var(--purple-custom) !important;
}

/* Styling for the footer */
.footer {
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: var(--purple-custom);
    border-top: solid;
    border-width: 3px;
    border-color: var(--gold-custom);
}

/* Size and margin for headshot image */
#headshot {
    margin: 7px 25px 10px 0;
    width: 300px;
    min-width: 30%;
}

/* Default size of the navbar-brand logo image */
#navbar-logo {
    height: 70px;
    width: 105px;
    margin-top: 10px;
}

/* Muted text color for footer */
#footer-text {
    font-family: 'Encode Sans', sans-serif;
    color: #e8ddfd8a;
}

#wordmark {
    font-family: 'Cinzel', serif;
    color: rgb(245, 235, 235);
}

#contact-content {
    font-family: "Encode Sans", sans-serif;
}

#contact-content h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

#contact-content textarea {
    min-height: 38px;
}

#contact-content .list-group-item {
    background-color: #ede4ffb0;
}

#contact-content .btn {
    color: var(--lightpurple-custom);
    background-color: var(--purple-custom);
    font-size: 18pt;
}

#contact-content a {
    color: var(--purple-custom);
    font-size: 18pt;
}

#contact-content a:visited {
    color: var(--gold-custom);
}


/* Center the headshot image when viewport width under 992px */
@media only screen and (max-width: 1055px) {
    #wordmark {
        font-size: 2.25rem;
    }
}

/* Remove right margin on brand logo when main wordmark moves to center */
@media only screen and (max-width: 767px) {
    .navbar-brand {
        margin-right: 0;
    }

    #contact-content #check-me-out {
        margin-top: 10px;
    }
}

/*  */
@media only screen and (max-width: 576px) {
    .navbar {
        padding-left: 3px;
        padding-right: 3px;
    }

    #navbar-logo {
        height: 50px;
        width: 75px;
        margin-top: 20px;
    }
}

/* Centers headshot, decreases wordmark font size to prevent element wrapping */
@media only screen and (max-width: 500px) {

    #wordmark {
        font-size: 17pt;
    }

    #headshot {
        margin-left: calc(50% - 150px);
        margin-right: calc(50% - 150px);
    }

}