/* Custom color variables */
:root {
    --gold-custom: #B7A57A;
    --lightpurple-custom: #EDE4FF;
    --purple-custom: #4B2E83;
}

html {
    min-width: 360px;
}

body {
    background-color: var(--lightpurple-custom);
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 25px;
    margin-bottom: 150px;
}

h1 {
    margin-bottom: 0;
} 

p {
    line-height: 150%;
    font-size: 16pt;
}

hr {
    border:solid;
    border-color: var(--purple-custom);
    border-width: 2px;
    border-radius: 20px;
    margin-top: 2px;
}

.navbar {
    color: var(--lightpurple-custom);
    background-color: var(--purple-custom);
    border-bottom: solid;
    border-width: 3px;
    border-color: var(--gold-custom);
}

.navbar-brand {
    height: 100px;
}

.navbar-toggler {
    background-color: var(--lightpurple-custom);
}

/* Adds margin b/w main page content and page header */
.content {
    margin-top: 5px;
}

.btn-lg {
    color: var(--lightpurple-custom);
    text-align: center;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.btn-lg:hover {
    background-color: var(--lightpurple-custom) !important;
    color: var(--purple-custom) !important;
}

#headshot {
    margin: 7px 25px 10px 0;
    width: 300px;
    min-width: 30%;
}

.footer {
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: var(--purple-custom);
    border-top: solid;
    border-width: 3px;
    border-color: var(--gold-custom);
}

/* Default size of the navbar-brand logo image */
#navbar-logo {
    height: 70px;
    width: 105px;
    margin-top: 10px;
}

/* Muted text color for footer */
#footer-text {
    color: #e8ddfd8a;
}

/* Center the headshot image when viewport width under 500px */
@media only screen and (max-width: 900px) {
    #wordmark {
        font-size: 2.5rem;
    }
}

/* Remove right margin on brand logo when main wordmark moves to center */
@media only screen and (max-width: 767px) {
    .navbar-brand {
        margin-right: 0;
    }
}

/* Centers headshot, decreases navbar logo size, decreases wordmark font size when below certain width */
@media only screen and (max-width: 500px) {
    #headshot {
        margin-left: calc(50% - 150px);
        margin-right: calc(50% - 150px);
    }

    #navbar-logo {
        height: 50px;
        width: 75px;
        margin-top: 20px;
    }

    #wordmark {
        font-size: 21pt;
    }
}